@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<E_CommerceMVCApi.Models.Entities.Order>

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>TotalPrice</th>  
            <th>OrderDate</th>
            <th>User</th>
            <th></th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.TotalPrice</td> 
                <td>@order.OrderDate</td>
                <td>@order.User</td>
                <td>
                    <a class="btn btn-primary mt-2 " asp-controller="Orders" asp-action="Edit" asp-route-id="@order.OrderId">Edit</a>
                </td>           
            </tr>
        }
        <a class="btn btn-primary mt-2" asp-controller="Orders" asp-action="Add">Add</a>
    </tbody>
</table>
