@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<E_CommerceMVCApi.Models.Entities.Order>

<h1>View Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>TotalPrice</th>  
            <th>OrderDate</th>
            <th>UserId</th>   
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Size</th>
            <
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.TotalPrice</td> 
                <td>@order.OrderDate</td>
                <td>@(order.UserId != null ? order.UserId.ToString() : "User not set")</td>
                <td>
                    @foreach (var product in order.Products)
                    {
                        <p>@product.Name</p>
                        <p>@product.Price</p>
                        <p>@product.Size</p>
                    }
                </td>
            </tr>
        }
        
    </tbody>
</table>
<a class="btn btn-primary mt-2" asp-controller="Orders" asp-action="Add">Add</a>
